
body {
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: start;
  padding-left: 20px;
  color: black;
}

.manage-spots {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  padding: 20px;
  justify-content: center;
}



.spot-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.spot-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  position: relative;
}


.spot-image {
  width: 100%;
  height: 250px;
 display: block;
}

.manage-details {
  padding: 5px;
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manage-location {
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding-left: 5px;
  margin-bottom: 10px;
}

.spot-actions {
display: flex;
justify-content: space-around;
align-items: center;
}


.manage-rating {
  color: #ffd700;
  margin-left: auto;
  font-size: 15px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: gray;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}


button:hover {
  background-color: lightgray;
}

@media (max-width: 1024px) {
  .manage-spots {
    grid-template-columns: repeat(2, 1fr);
  }
}
