
body {
  font-family: 'Arial', sans-serif;
}
h1 {
  text-align: center;
  color: #FF5A5F;
}

.manage-spots {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  padding: 20px;
  justify-content: center;
}

/* .spot {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
} */


.spot-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.spot-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  position: relative;
}


.spot-image {
  width: 250px;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.spot-details {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.spot-location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spot-actions {
display: flex;
justify-content: space-around;
}


.spot-location,
.spot-price {
  color: black;
}


.spot-rating {
  color: #ffd700;
  /* margin-left: auto; */
  font-size: 15px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: gray;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}


button:hover {
  background-color: lightgray;
}

@media (max-width: 1024px) {
  .manage-spots {
    grid-template-columns: repeat(2, 1fr);
  }
}
