.hidden {
  display: none;
}

.profile-dropdown {
  position: relative;
}

.profile-dropdown li {
  cursor: pointer;
}

.nav-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: solid gray;
  padding: 0;
}

.pro-button {
  cursor: pointer;
  color: white;
  background-color: #FF5A5F;
}
.pro-button:hover {
  background-color: #E53E3E;
}
.home{
  padding: 10px;
  text-decoration: none;
  color:#FF5A5F;
  cursor: pointer;
}
.home-img {
height: 70px;
width: 70px;
cursor: pointer;
}

.app-name {
font-weight: bold;
font-size: 35px;
color: #FF5A5F;
align-items: center;
}

.profile-button {
  padding: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.home,
.create-new-spot-container,
.profile-button {
  margin: 0;
  padding: 10px;
}

.create-new-spot-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.create-new-spot-button {
  color: lightskyblue;
  /* padding: 10px 15px; */
  padding-top: 12px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.create-new-spot:hover {
  background-color: #E53E3E;
}

.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  width: 200px;
  border-radius: 5px;
}

.profile-dropdown li {
  list-style: none;
  padding: 10px 10px;
  border-bottom: 1px solid #f3f3f3;
}

.profile-dropdown li:last-child {
  border-bottom: none;
}


.profile-dropdown.show-menu {
  display: block;
}
