/*
 .profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  width: 200px;
  border-radius: 5px;
}

.profile-dropdown li {
  list-style: none;
  padding: 10px 10px;
  border-bottom: 1px solid #f3f3f3;
}

.profile-dropdown li:last-child {
  border-bottom: none;
}


.profile-dropdown.show-menu {
  display: block;
}


 .pro-button {
  background-color: #FF5A5F;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.pro-button:hover {
  background-color: #E53E3E;
} */
