.update-spot-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h1, h2 {
  color: #333;
  margin-bottom: 10px;
}
p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.update-spot-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.update-spot-form label {
  display: block;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.update-spot-form p {
  color: red;
  font-size: 12px;
}

.update-spot-form button {
  width: 100%;
  padding: 10px;
  background-color: salmon;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}


.update-spot-form button:hover {
  background-color: #0056b3;
}

.update-spot-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
